<!-- <mat-form-field class="search-field">
  <input
    type="text"
    matInput
    placeholder="Caută produse"
    [(ngModel)]="searchQuery"
  />
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field> -->

<mat-form-field>
  <input type="text" matInput placeholder="Search" />
  <button mat-button matSuffix>
    <mat-icon>search</mat-icon>
  </button>
</mat-form-field>

<div class="card-container">
  <div *ngFor="let product of productsService.products()">
    <mat-card class="product-card">
      <mat-card-content>
        <img class="img" [src]="product['image']" />
        <div class="info">
          <h1>{{ product["name"] }}</h1>
          <p>{{ product["price"] }} Ron</p>
        </div>
      </mat-card-content>
      <mat-card-actions class="actions">
        <button
          style="background-color: lightgreen; margin-right: 5px"
          mat-button
          [routerLink]="'product-info/' + product['id']"
        >
          Vezi detalii
        </button>
        <button
          mat-button
          style="background-color: green; color: white"
          (click)="addToCart(product)"
        >
          Adauga in cos
        </button>
        <button mat-button (click)="toggleFavorites(product)">
          <mat-icon>{{
            isFavorites(product) ? "favorite" : "favorite_border"
          }}</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
