<mat-toolbar color="primary" *ngIf="authService.currentUser()">
  <div>
    Magazin plante
    <button mat-button routerLink="">Acasa</button>
    <button mat-button routerLink="/administrator">Administrator</button>
    <button mat-button routerLink="">Contact</button>
  </div>
  <div>
    <button mat-button (click)="logout()">
      <mat-icon>logout</mat-icon>Deconectare
    </button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
<mat-progress-spinner
  *ngIf="loading()"
  mode="indeterminate"
  diameter="50"
></mat-progress-spinner>
