<mat-toolbar color="primary" *ngIf="authService.currentUser()">
  <div>
    <img [src]="'/assets/LogoApp.jpg'" width="50" height="50" />
  </div>

  <div>
    <button mat-button routerLink="">Acasa</button>
    <button mat-button routerLink="about-us">Despre noi</button>
  </div>

  <div>
    <button mat-button [matMenuTriggerFor]="menu">
      {{ currentUser()?.email }}<mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/profile">
        <mat-icon>account_circle</mat-icon>
        Profil
      </button>
      <button
        mat-menu-item
        routerLink="/administrator"
        *ngIf="currentUser()?.isAdmin"
      >
        <mat-icon>account_circle</mat-icon>
        Administrator
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </mat-menu>
    <!-- <button mat-button (click)="logout()">
      <mat-icon>logout</mat-icon>Deconectare
    </button> -->
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
<mat-progress-spinner
  *ngIf="loading()"
  mode="indeterminate"
  diameter="50"
></mat-progress-spinner>
