mat-toolbar {
  background-color: #28be26 !important;
  align-items: center;
  color: black;
}

mat-progress-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.account {
  margin-left: 20px;
}

.logo {
  justify-content: left;
  margin-right: 450px;
}

// @media only screen and (min-width: 390px) and (max-width: 767px) {
//   mat-toolbar {
//     display: inline-block;
//     flex-direction: column;
//     flex-wrap: nowrap;
//   }
// }

// @media only screen and (min-width: 768px) and (max-width: 1023) {
//   mat-toolbar {
//     display: inline-block;
//     flex-direction: column;
//     flex-wrap: nowrap;
//   }
// }

// @media only screen and (min-width: 1024) {
//   mat-toolbar {
//     display: flex;
//     flex-direction: column;
//     flex-wrap: nowrap;
//   }
// }
