<mat-toolbar color="primary" *ngIf="authService.currentUser()">
  <div class="logo">
    <img [src]="'/assets/LogoApp.jpg'" width="50" height="50" />
  </div>

  <div>
    <button mat-button routerLink="">Acasa</button>
    <button mat-button routerLink="about-us">Despre noi</button>
    <button mat-button routerLink="my-favorites">Favorite</button>
  </div>

  <div>
    <div>
      <mat-icon
        matBadge="warn"
        [matBadge]="getCartItems()"
        [mat-menu-trigger-for]="cartProducts"
      >
        shopping_cart</mat-icon
      >
    </div>
    <mat-menu #cartProducts="matMenu">
      <div *ngFor="let item of currentUser().cart.cartItems">
        <button mat-menu-item [routerLink]="'/product-info/' + item.id">
          <mat-icon> shopping_cart </mat-icon> {{ item.name }} x
          {{ item.quantity }}
        </button>
        <button
          mat-raised-button
          color="warn"
          (click)="removeItemFromCart($event, item)"
        >
          Elimina
        </button>
      </div>
      <ng-container *ngIf="currentUser()?.cart?.cartItems.length === 0">
        Nu aveti produse in cos
      </ng-container>
      <mat-divider> </mat-divider>
      <p *ngIf="currentUser()?.cart?.cartItems.length !== 0">
        Total: <strong>{{ getTotalPrice().toFixed(2) }} RON</strong>
      </p>
    </mat-menu>
  </div>

  <div class="account">
    <button mat-button [matMenuTriggerFor]="menu">
      {{ currentUser()?.email }}<mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/profile">
        <mat-icon>account_circle</mat-icon>
        Profil
      </button>
      <button
        mat-menu-item
        routerLink="/administrator"
        *ngIf="currentUser()?.isAdmin"
      >
        <mat-icon>account_circle</mat-icon>
        Administrator
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>

<mat-progress-spinner
  *ngIf="loading()"
  mode="indeterminate"
  diameter="50"
></mat-progress-spinner>
