<div class="center">
  @if(user() && user()?.cart?.cartItems?.length===0){
  <p>Nu aveti produse in cos</p>
  } @else {
  <mat-stepper>
    <mat-step label="Pasul 1">
      <form [formGroup]="stepForm">
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Nume"
            formControlName="name"
          /> </mat-form-field
        ><mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Nume familie"
            formControlName="lastName"
          /> </mat-form-field
        ><mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Adresa"
            formControlName="address"
          /> </mat-form-field
        ><mat-form-field>
          <input matInput placeholder="Email" formControlName="email" />
        </mat-form-field>
        <mat-form-field>
          <input
            type="number"
            matInput
            placeholder="Numar de telefon"
            formControlName="phoneNumber"
          />
        </mat-form-field>
        <div>
          <button mat-button color="primary" matStepperNext>Continua</button>
        </div>
      </form>
    </mat-step>
    <mat-step label="Pasul 2">
      <div class="step-content">
        <div class="product-list">
          <div
            *ngFor="let item of user()?.cart?.cartItems"
            class="product-item"
          >
            <p>
              Nume produs:
              {{ item.name }}
            </p>
            <p>
              Pret/bucata:
              {{ item.price }} RON
            </p>
            <p>
              Cantitate:
              {{ item.quantity }}
            </p>
          </div>
          <mat-divider></mat-divider>
          <div>
            <p>Plata *Ramburs la curier</p>
            <p>Livrare Curier Rapid - 26,90 Lei</p>
          </div>
          <div class="total-item">
            <p>Total (inclusiv livrare): {{ getTotalPrice() }} RON</p>
          </div>
        </div>
        <div>
          <button
            mat-button
            color="black"
            matStepperPrevious
            style="background-color: yellow; margin-right: 10px"
          >
            Inapoi
          </button>
          <button
            mat-button
            color="black"
            (click)="finalizeTransaction()"
            style="background-color: rgb(62, 255, 62)"
          >
            Finalizeaza
          </button>
        </div>
      </div>
    </mat-step>
  </mat-stepper>
  }
</div>
