.product-list {
  display: flex;
  flex-direction: column;
}

.step-content {
  border: 1px solid black;
  padding: 20px;
}

.product-item {
  display: flex;
  flex-direction: column;
}

.total-item {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.actions {
  margin-top: 20px;
}
