<div style="margin: 20px">
  <div style="display: flex; flex-direction: row">
    <img [src]="editProduct().image" mat-card-image width="500" height="500" />

    <mat-card class="content">
      <div class="head-body">
        <mat-card-header style="display: flex; flex-direction: column">
          <div>
            <h1>{{ editProduct().name }}</h1>
          </div>
          <div>Categorie: {{ editProduct().category }}</div>
          <br />
          <div>Pret: {{ editProduct().price }} RON</div>
          <br />
          <div style="display: flex; flex-direction: row">
            Stoc:
            <mat-error>
              {{
                editProduct().stock === 0
                  ? "Nu este in stoc"
                  : editProduct().stock
              }}
            </mat-error>
            <br />
            <br />
          </div>
        </mat-card-header>
        <mat-divider> </mat-divider>
        <mat-card-content>
          <h3>Descriere:</h3>
          <p>
            {{ editProduct().description }}
          </p>
          <mat-divider> </mat-divider>
          <h3>Ghid de ingrijire:</h3>
          <p>
            {{ editProduct().ghidDeIngrijire }}
          </p>
        </mat-card-content>
      </div>

      <mat-card-actions class="content-actions">
        <form [formGroup]="quantityForm">
          <mat-form-field>
            <mat-label> Cantitate </mat-label>
            <input
              matInput
              min="1"
              max="50"
              placeholder="Cantitate"
              type="number"
              formControlName="quantityForm"
            />
            <!-- <mat-error
            *ngIf="quantityForm.controls.quantity.errors?.['required']"
          >
            Cantitatea este necesara
          </mat-error> -->
          </mat-form-field>
        </form>
        <button
          [disabled]="editProduct().stock === 0"
          mat-button
          class="add-to-cart"
        >
          <mat-icon>shopping_card</mat-icon> Adauga in cos
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div>
    <h2>Adauga feedback</h2>
    <form
      [formGroup]="productInfoForm"
      (ngSubmit)="submit()"
      style="display: flex; flex-direction: row"
    >
      <mat-form-field style="margin-right: 15px">
        <mat-label> Feedback </mat-label>
        <input
          matInput
          placeholder="Recenzie"
          type="text"
          formControlName="userFeedback"
        />
      </mat-form-field>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        style="margin: auto"
      >
        Trimite
      </button>
    </form>
  </div>

  <div *ngFor="let recenzieUser of feedbackInfo()[0]?.feedback">
    <mat-card class="margin-top">
      <mat-card-header style="justify-content: space-between">
        <img
          mat-card-avatar
          [src]="recenzieUser.user.photoURL ?? '/assets/UserLogo.jpg'"
        />
        <mat-card-title>
          {{ recenzieUser.user.displayName }}
        </mat-card-title>
        <mat-card-subtitle style="display: flex; flex-direction: row">
          {{ recenzieUser.date }}
        </mat-card-subtitle>
        <button class="delete-feedback" mat-button>Sterge</button>
      </mat-card-header>
      <br />
      <mat-divider></mat-divider>

      <mat-card-content>
        <p>
          {{ recenzieUser.feedback }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
