<div class="myCard mat-elevation-z5">
  <h1><mat-icon>person</mat-icon>Autentificare</h1>
  <form [formGroup]="signInForm" (ngSubmit)="submit()">
    <mat-form-field>
      <mat-label> Adresa email </mat-label>
      <input matInput placeholder="Nume" type="email" formControlName="email" />
      <mat-error *ngIf="email?.hasError('required')">
        Numele este necesar sa fie introdus
      </mat-error>
      <mat-error *ngIf="email?.hasError('email')">
        Introdu o adresa de email valida
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label> Parola </mat-label>
      <input
        matInput
        placeholder="Nume"
        type="password"
        formControlName="password"
        name="password"
      />
      <mat-error *ngIf="password?.hasError('required')">
        Parola nu este introdusa
      </mat-error>
    </mat-form-field>

    <div class="center margin-top flex-column">
      <button
        mat-stroked-button
        color="primary"
        type="submit"
        style="background-color: rgb(0, 125, 250); color: white"
      >
        Intra in cont
      </button>
      <div class="center margin-top">
        <button
          mat-stroked-button
          routerLink="/signup"
          style="background-color: rgb(71, 163, 255); color: white"
        >
          Creeaza un cont nou
        </button>
        <button mat-stroked-button (click)="forgotPassword()">
          Ai uitat parola?
        </button>
      </div>
    </div>
  </form>
</div>
