<div class="myCard mat-elevation-z5">
  <h1><mat-icon>person</mat-icon>Autentificare</h1>
  <form [formGroup]="signInForm" (ngSubmit)="submit()">
    <mat-form-field>
      <mat-label> Adresa email </mat-label>
      <input matInput placeholder="" type="email" formControlName="email" />
      <mat-error *ngIf="email?.hasError('required')">
        Numele este necesar sa fie introdus
      </mat-error>
      <mat-error *ngIf="email?.hasError('email')">
        Introdu o adresa de email valida
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label> Parola </mat-label>
      <input
        matInput
        placeholder=""
        [type]="showPassword ? 'text' : 'password'"
        formControlName="password"
        name="password"
      />

      <mat-icon matSuffix (click)="togglePasswordVisibility()">
        {{ showPassword ? "visibility" : "visibility_off" }}
      </mat-icon>

      <mat-error *ngIf="password?.hasError('required')">
        Parola nu este introdusa
      </mat-error>
    </mat-form-field>

    <div class="center margin-top flex-column">
      <button
        mat-stroked-button
        color="primary"
        type="submit"
        style="background-color: rgb(6, 146, 36); color: white"
      >
        Intra in cont
      </button>
      <div class="center margin-top">
        <button
          mat-stroked-button
          routerLink="/signup"
          type="button"
          style="
            background-color: rgb(71, 163, 255);
            color: white;
            margin-right: 15px;
          "
        >
          Creeaza un cont nou
        </button>
        <button
          mat-stroked-button
          (click)="forgotPassword()"
          type="button"
          style="background-color: rgb(91, 135, 179); color: white"
        >
          Ai uitat parola?
        </button>
      </div>
    </div>
  </form>
</div>
